services:
  - type: web
    name: taller-computo
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: S3_ENDPOINT
        sync: false
      - key: S3_KEY
        sync: false
      - key: S3_SECRET
        sync: false
      - key: S3_BUCKET_NAME
        sync: false