flask
flask_login
flask_sqlalchemy
python-dotenv==1.0.0
psycopg2-binary
boto3
gunicorn
qrcode
pillow
werkzeug
reportlab
python-magic==0.4.27
flask-caching
flask-socketio==5.3.6
python-socketio==5.11.0
gevent==23.9.1
gevent-websocket==0.10.1